@charset "utf-8";
@mixin sectiontitle {
  text-align: center;
  padding: 64px 0;
  font-weight: normal;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: メイリオ, Verdana, sans-serif;
  color: #333;
}

nav {
  background-color: lighten(orange, 15%);
  position: fixed;
  width: 100%;
  opacity: 0.9;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  a {
    width: 100px;
    line-height: 1.8em;
    background-color: skyblue;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 3px 5px;
    border-radius: 5%;

    &:hover {
      background-color: blue;
      color: white;
      // opacity: 0.5;
    }
  }
}

header {
  background-color: orange;
  color: white;
  text-align: center;
  padding-top: 64px;

  h1,
  p {
    margin: 0;
  }

  img {
    width: 280px;
    vertical-align: bottom;
  }
}

.btn {
  text-decoration: none;
  background-color: white;
  color: orange;
  display: block;
  width: 140px;
  line-height: 44px;
  margin: 40px auto 48px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;

  &:hover {
    opacity: 0.9;
  }
}

.features {
  > h1 {
    @include sectiontitle;
  }

  .container {
    margin: 0 32px;
  }

  section {
    padding-bottom: 64px;
  }

  img {
    width: 100%;
  }

  p {
    line-height: 1.8em;
  }
}

.members {
  background-color: #f2f2f3;

  > h1 {
    @include sectiontitle;
  }

  ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  img {
    width: 160px;
    border-radius: 50%;
  }

  h2 {
    font-size: 20px;
  }

  li {
    padding-bottom: 64px;
  }
}

.call-to-action {
  background-color: orange;
  color: #fff;
  text-align: center;
  padding: 64px 0;

  h1 {
    font-weight: normal;
  }

  .btn {
    margin: 0 auto;
  }
}

footer {
  padding: 64px 0;
  background-color: #323135;
  color: #98969c;
  text-align: center;
}

@media (min-width: 900px) {
  header {
    .container {
      display: flex;
      width: 800px;
      margin: 0 auto;
    }
    .info {
      width: 60%;
      align-self: center;
    }
    .pic {
      width: 40%;
    }
  }
  .features {
    section {
      display: flex;
      justify-content: space-between;
    }
    .info {
      width: calc(50% - 32px);
    }
    .pic {
      width: 50%;
    }

    section:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  .members {
    ul {
      display: flex;
      width: 800px;
      margin: 0 auto;
      justify-content: space-between;
    }
    li {
      width: 250px;
    }
  }
}
